:root{
    --text: #fff;
    --kafe:#c98169;
    --mint:#e0ebe5;
    --mint2:#b8ddd6;
    --peach:#e6b794;
    --background-d: #ffffff;
    --background:#e6f0ec;
    --hover: #c97c67;
    --border: #fdadad;
    --accent: #a0522d;
    --star: #ffc107;

}
